.background {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-image: url('./Wallpaper\ \(8k\).png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}